body {
    background-color: #121b2c;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 400px;
    background-color:#1e2d4b;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #078ec4;
    box-shadow: 0 0px 30px #05658b;
}

h1 {
    color:#4cccff;
    font-style:italic;
    text-align: center;
}

h3 { 
    color: #078ec4;
    border-bottom: 1px solid hsl(0, 0%, 100%);
    padding-bottom: 5px;
}

.card {
    background: #9c27ca;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #9c27ca;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color:#077caa;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3px;
    color:#ffffff;
}

button:hover {
    background-color: #0eabe9;
    color: #05658b;
}